.env
venv
.venv
__pycache__
.DS_Store
src/storage/surat_masuk/*
src/storage/surat_keluar/*
src/storage/template_surat/*
src/storage/template_surat_keluar/*
src/storage/template_surat_masuk/*
src/storage/template_surat_keluar/*
node_modules

hand_scan_controller.log
hand_scan.log
attendance.log

storage/hands/*
